/* Styles for injected content */
#getsora-btn {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    z-index: 2147483647 !important;
    /* Max z-index */
}